@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* 
==============
Library Edits 
==============
*/

/* ---- NextUI Edits ---- */
/* - NextUI Navbar - */
nav header ul {
  justify-content: flex-end !important;
}
/* - NextUI Table - */
.workout-table thead tr th {
  background-color: #8e4b5f /*#881337*/;
  color: white;
  text-transform: uppercase;
}
/* ---- Slick Slider ---- */
/* - Slider Track - */
.slick-slider .slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0.5rem;
}
/* - Individual Slide - */
.slick-slide + .slick-slide {
  margin-left: 1rem;
}
/* - Next Prev Buttons - */
.slick-prev {
  left: -41px !important;
  top: 45% !important;
}
.slick-next {
  right: -19px !important;
  top: 45% !important;
}
.slick-next {
}
.slick-next:before,
.slick-prev:before {
  color: #a8a29e !important;
  font-size: 40px !important;
}

/*
==========
Keyframes
==========
*/
@keyframes fadeIn {
  0 {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@layer utilities {
  .primary-height {
    height: calc(100vh - 65px);
  }
  .workout-table {
    height: calc(100vh - 280px);
  }

  .container-sm {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 100%;
  }
  .container-md {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 100%;
  }
  .container-lg {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 100%;
  }
}
